.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: var(--mud-palette-background);
    overflow-y: auto;
}

.center-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
